<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <!-- Кодировка сайта -->
    <!-- Сайт готов работать с мобильными устройствами -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Загружаем фав-иконки -->
    <link rel="icon" href="fav.ico" type="image" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Подключен файл со стандартными стилями бустрап -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Название вкладки -->
    <title>ESMO</title>
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static '1.12.1/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '1.12.1/js/dataTables.bootstrap5.min.js' %}"></script>
    <link
      href="{% static '1.12.1/css/dataTables.bootstrap5.min.css' %}"
      rel="stylesheet"
      id="bootstrap-css"
    />
    {% csrf_token %}
    <script>
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
  </head>
  <body>
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">ЭСМО испытания</h4>
        </div>

        <div class="col-4">
          <div id="date">
            <div id="test_date">
                <div class="input-group">
                    <label class="input-group-text">Начальные датa и время</label>
                    <input class="form-control-sm" type="date" id="input_date">
                    <input class="form-control-sm" type="time" id="input_time">
                    <label class="input-group-text">Интервал (0-36 ч.)</label>
                    <input class="form-control-sm" type="number" id="input_interval" min=0 max=36>
                </div>
            </div>
            <p></p>
            <button type="button" class="btn btn-primary" id="TableButton">
              ОБНОВИТЬ ТАБЛИЦУ
            </button>

            <button type="button" class="btn btn-primary" id="FileButton">
              СКАЧАТЬ ФАЙЛ
            </button>
          </div>

          <p></p>
        </div>

        <div id="SrokSlGod">
          <div class="input-group input-group-sm mb-3">
              <label class="input-group-text">Параметры запроса:</label>
              <input class="form-control form-control-sm" id="input_text" type="text">
          </div>
        </div>

        <div class="modal-body">
          <table
            class="table table-bordered table-responsive table-striped table-hover"
            id="esmo_table"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th scope="col">Номер</th>
                <th scope="col">ФИО</th>
                <th scope="col">Подразделение</th>
                <th scope="col">Тест 1</th>
                <th scope="col">Тест 2</th>
                <th scope="col">Время работы</th>
                <th scope="col">marks</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </body>

  <script src="{% static 'js/index.js' %}"></script>
</html>