<br>
<footer class="text-center p-3 bg-dark shadow-sm p-3 mb-5" style="color:white">
<!--    ©2022-{% now 'Y' %} Copyright "<span style="color:hsla(0,100%,50%,5);">-->
        <strong>
            {% if project == "SIZ" %}
                РОССЕТИ ЦЕНТР</span> <span style="color:hsla(10,100%,50%,5);">Ярэнерго</span>
            {% else %}
                DEMO</span> <span style="color:hsla(10,100%,50%,5);">DEMOS</span>
            {% endif %}
        </strong>".
    Разработано в <strong><a style="color:hsla(0,100%,50%,1);" href="https://ias-control.ru/" title="ias-control.ru" target="_blank">IAS_Control</a></strong>
</footer>