{% load static %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid" style="background-color: #19a2a2">
      <div class="card" style="margin: 10px;">
        <a  href="{% url 'index' %}">
            <img src="{% static 'images/esmo-logo.png' %}" alt="Эсмо" width="70%" height="70%" >
        </a>
      </div>

        {% if user.is_authenticated %}
        <div class="card">
          <div class="card-body">
            <span>
              <strong>
                  Дата: {% now 'd.m.Y' %}
                  <div class="vr"></div>
                  {% if user.username %}
                  Пользователь: {{ user.username }}
                  {% else %}
                  Пользователь: Гость
                  {% endif %}
                  <div class="vr"></div>
              </strong>
          </span>
          </div>
        </div>
        {% endif %}
        <!--Вывод информации о статусе журналов-->
        <ul class="list-group mb-2" id="tasks"></ul>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" type="submit" id="ExitSystemButton">Выйти из системы</button>
                </form>
            {% else %}
                <a type="button" class="btn btn-primary btn-sm" href="{% url 'users:login' %}">Войти в систему</a>
            {% endif %}
        </div>
    </div>
</nav>
